<a href="https://colab.research.google.com/github/bb20417/CE888/blob/main/lab4/my_recommender_movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import operator

In [2]:
df0 = pd.ExcelFile('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true')

In [3]:
df0.sheet_names

['Items', 'Users']

In [4]:
df_Items = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true',sheet_name='Items',index_col=None)

In [5]:
df_Items.head()

   Movie ID  ...  Factor15
0        11  ... -0.248806
1        12  ...  1.274993
2        13  ... -0.419092
3        14  ... -0.681191
4        22  ... -2.292566

[5 rows x 17 columns]

In [6]:
df_Users = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true',sheet_name='Users', index_col=None)

In [7]:
df_Users.head()

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552
3   174 -0.227462 -0.272532 -0.017231  ... -0.082396  0.036767 -0.165438  0.050692
4  4529 -0.014616 -0.102218 -0.107935  ... -0.132836 -0.039897  0.129063  0.102669

[5 rows x 16 columns]

In [8]:
df_Users.shape, df_Items.shape

((25, 16), (100, 17))

In [89]:
# Which 3 movies would you recommend to User 174?
# user with ID 5338 will give to the movie with ID 155.
num_factors = df_Users.shape[1]-1
user_pref = df_Users[df_Users['User'] == 3519].iloc[:, -num_factors:].values[0]
item_feat = df_Items.iloc[:, -num_factors:].values

In [74]:
#df_Items[df_Items['Movie ID']==155].index.values[0]

21

In [90]:
#user with ID 5338 will give to the movie with ID 155
#data.iloc[[0,3,6,24], [0,5,6]]
#df = df_Items.iloc[list(pd.DataFrame(preference).index)]
#item_feat=df_Items.iloc[[21], -num_factors:].values

In [91]:
preference = item_feat.dot(user_pref)

In [92]:
#round(preference[0],2)
#df_Users.columns[1:]
preference

array([ 0.48534082, -0.08227086,  0.01983599,  0.13975328, -0.17719978,
        0.11271951,  0.08433738,  0.06682935,  0.09287665,  0.2584627 ,
       -0.04487359,  0.17840711,  0.03407909,  0.01665737,  0.04553261,
        0.02065168,  0.03979089,  0.12146753,  0.06185721,  0.08007232,
        0.11592771,  0.04094973, -0.06520509, -0.00649859, -0.08597423,
        0.19921222, -0.03646486,  0.19836899,  0.07157082,  0.07322261,
        0.06078828,  0.15943376,  0.21036455,  0.11335954,  0.08692182,
        0.01592376,  0.06332367, -0.12794075,  0.12013306, -0.02966947,
        0.0108208 ,  0.03525883, -0.0079035 , -0.01922981,  0.11866763,
        0.02726093, -0.09541437,  0.007967  ,  0.1562923 , -0.14828493,
        0.03421715, -0.33357331, -0.17800273,  0.14969457, -0.0584831 ,
        0.04138497, -0.08280496, -0.06034059, -0.07149923,  0.24594413,
        0.02798951, -0.11006304,  0.06742033, -0.18478517,  0.02433651,
       -0.22231437, -0.26076162, -0.04168923, -0.51177074,  0.06980958,
       -0.05067265, -0.00785948, -0.08666205,  0.01427475, -0.03935761,
       -0.20386068, -0.14078832,  0.50300534,  0.44936821, -0.02231623,
        0.05829692, -0.1164821 , -0.01722665,  0.00544206, -0.01569425,
       -0.53319495, -0.06893758,  0.07448637, -0.04078327, -0.07560748,
       -0.5452667 , -0.05793842,  0.01464655, -0.09733884, -0.07898361,
       -0.07301461, -0.01694144, -0.07444462, -0.05736468, -0.06100232])

In [93]:
pd.DataFrame(preference).head(20)

           0
0   0.485341
1  -0.082271
2   0.019836
3   0.139753
4  -0.177200
5   0.112720
6   0.084337
7   0.066829
8   0.092877
9   0.258463
10 -0.044874
11  0.178407
12  0.034079
13  0.016657
14  0.045533
15  0.020652
16  0.039791
17  0.121468
18  0.061857
19  0.080072

In [94]:
#values = [zip(df_Users.columns[1:], preference[i]) for i in range(preference.shape[0])]
top_values = pd.DataFrame(preference).nlargest(3, 0)
top_indices = top_values.index
list(top_indices)
#comparison_data.columns = df_Users.columns

[77, 0, 78]

In [95]:
df_Items.iloc[list(top_indices)]

    Movie ID  ...  Factor15
77      1891  ... -0.115583
0         11  ... -0.248806
78      1892  ... -0.102475

[3 rows x 17 columns]

In [53]:
#quiz attempt
##Factor1 for the movie with ID=36955
#df_Items.head()
df_Fator = df_Items[['Movie ID','Factor1']]

value = df_Fator[df_Fator['Movie ID']==36955]['Factor1'].values[0]

round(value,3)

1.734

In [55]:
#quiz
#with the lowest loading of factor 2

df_factor2 = df_Items[['Movie ID','Factor2']]
df_factor2.sort_values('Factor2')

    Movie ID   Factor2
16       122 -2.526300
15       121 -2.512933
14       120 -2.510061
51       604 -2.004450
79      1894 -1.711204
..       ...       ...
6         38  1.771799
32       275  1.777301
5         24  1.997440
59       680  2.085395
3         14  2.186059

[100 rows x 2 columns]